@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

:root.dark {
    --darkest: #0e0d0d;
    --darker: #181818;
    --base: #1F1F1F;
    --lightGrey: #808080;
    --separator: #707070;
    --accent: #37AA9C;
    --accent-font: black;
    --font: white;
}

:root.light {
    --darkest: #BAC1CE;
    --darker: #EBCFAD;
    --base: #F5F8FF;
    --lightGrey: #5b626a;
    --separator: #A58E72;
    --accent: #5E6882;
    --accent-font: white;
    --font: black;
}

body {
    color: var(--font);
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--darkest);
    height: 7.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & #logo {
        color: var(--font);
        font-family: 'Righteous', sans-serif;
        font-size: 5rem;
        margin-left: 20rem;
        text-decoration: none;

        &:visited {
            color: var(--font);
        }
    }

    & .icon {
        background-color: transparent;
        background-size: 100%;
        border: none;
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 2rem;
    }

    & .icon.icon-theme-dark {
        background-image: url('../images/theme-currentDark.svg');
    }

    & .icon.icon-theme-light {
        background-image: url('../images/theme-currentLight.svg');
    }
}

main {
    flex: 1;
    display: flex;
}

#sidebar {
    background-color: var(--darker);
    width: 20rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & #stats {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;

        & h5 {
            font-size: 1.3rem;
            font-weight: 300;
            margin-bottom: 0;
        }
    
        & p {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 0;
            margin-top: 0.5rem;
            padding-bottom: 1.8rem;
            width: 100%;
        }

        & .divide {
            border-bottom: 1px groove var(--separator);
        }
    }
}

.add {
    align-self: center;
    background-color: var(--accent);
    color: var(--accent-font);
    font: 1.6rem 'Oxygen', sans-serif;
    border: none;
    border-radius: 1rem;
    margin-bottom: 4rem;
    height: 3rem;
    width: 60%;
}

#library {
    background-color: var(--base);
    padding: 1.8rem;
    flex: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 260px);
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 1.8rem;

    & #empty-library {
        font-size: 1.6rem;
        font-weight: 300;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    background-color: var(--darkest);
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .book-details {  
        display: flex;
        flex-direction: column;
        
        & button {
            background-color: var(--darkest);
            border: none;
            border-radius: 0.75rem;
            color: var(--lightGrey);
            font-family: inherit;
            font-weight: bold;
            text-align: center;
            line-height: 1rem;
            height: 1.5rem;
            width: 1.5rem;
            margin: 0.5rem 0.5rem 0 0;
            align-self: flex-end;

            &:hover {
                background-color: var(--base);
            }
        }

        & h4 {
            font-size: 1.2rem;
            height: 2.9rem;
            width: 85%;
            margin: 0.5rem 1.1rem 1.5rem;
            word-wrap: break-word;
            white-space: normal;
        }

        & p:first-of-type {
            font-style: italic;
            margin-bottom: 0.2rem;
        }
    }

    & .book-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>button {
            background-color: var(--accent);
            color: var(--accent-font);
            border: none;
            border-radius: 0.5rem;
            height: 1.6rem;
            width: 3.4rem;
            font-family: inherit;
            font-size: 1rem;
        }
    }

    &>div>* {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#backdrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px) brightness(50%);
    display: flex;
    justify-content: center;
    align-items: center;

    & #new-book {3x;
        width: 260px;
        border: 3px solid var(--base);
        border-radius: 2rem;
        background-color: var(--darker);
        padding: 1.8rem;
        z-index: 2;
    }
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    & input {
        border: none;
        border-radius: 0.5rem;
        padding: 0.7rem;
        font-size: 1.3rem;

        &:focus {
            outline: none;
        }
    }

    & #overlay-add {
        margin-bottom: 0;
        margin-top: 2rem;
    }
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}